<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Flask App</title>
</head>
<body>
    <h1>Welcome to Project 2 AWS Assignment Web App</h1>
    <p>Please register, with your username, email, name, password.</p>
    <p>After registering, use same username and password to view your information.</p>
    <p>By Pacific Mugisha</p>
    <p><a href="{{ url_for('register') }}">Register</a></p>
    <p><a href="{{ url_for('login') }}">Login</a></p>
</body>
</html>

